@using DigitalStore.BusinessLogic
@using DigitalStore.Models.NotForDB
@model Cart

@{
    ViewBag.Title = "GameStore: ваша корзина";
}

<h2>Your cart</h2>
<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.ProductName</td>
                <td class="text-right">@line.Product.ProductPrice.ToString("# $")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.ProductPrice).ToString("# $"))
                </td>
                <td class="text-right">
                    <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@line.Product.Id" 
                    class="btn btn-sm btn-warning" type="submit">Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.ComputeTotalValue().ToString("# $")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    @*<a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>*@
    <a asp-controller="Cart" asp-action="Checkout" class="btn btn-sm btn-primary" type="submit">Checkout</a>
</div>