@using DigitalStore.Models
@model ReflectionIT.Mvc.Paging.PagingList<Product>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<div class="col-6">
	<h2 class="text-primary">Product List</h2>
</div>

<nav class="pagination">
    <vc:pager paging-list="@Model"/>
</nav>

<div id="PlaceHolderHere">
    @*<div id="dialogContent" class="modal-dialog"></div>*@
</div>

<form method="get">

    <div class="container p-3">
        <div class="item p-3">
            <big>Filters:</big>
            <select class="dropdown" data-bs-toggle="dropdown" id="SortOrderDropDown" name="sortOrder">
                <option value="Price ascending">Price (ascending)</option>
                <option value="Price descending">Price (descending)</option>
             </select>
            <input type="text" name="searchString" value="@Model.RouteValue["SearchString"]"/>
             <button type="submit" class="btn btn-primary" style="width:100px">
                Search
             </button>
             <a asp-controller="Product" asp-action="Index" asp-route-searchString="" asp-route-sortOrder="Price ascending" class="btn btn-light" style="width:125px">
                Clear Filters
             </a>
        </div>
        @foreach (var product in Model)
        {
            <div class="item p-3">
                <div class="rowItem">
                    <div class="forPrice">
                       @product.ProductPrice.ToString("# $")
                    </div>
                    <div class="forName">  
                       <h3>
                           <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="link page-link">@product.ProductName</a>
                       </h3>                  
                    </div>
                    <p>@product.ProductDescription</p>
                    @*<a asp-controller="Cart" asp-action="Buy"*@ <button type="button" class="btn btn-primary" data-toggle="ajax-modal" 
                    data-target="#buyProduct" data-url="@Url.Action("Buy", "Cart",  new {Id = product.Id} )" style="width:125px">
                        Quick Buy
                    </button>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" asp-route-returnUrl="@Context.Request.Path"
                    class="btn btn-secondary" style="width:125px">
                        Add To Cart
                    </a>
                </div>     
            </div>
        } 
    </div>
</form>

<nav class="pagination">
    @await this.Component.InvokeAsync("Pager", new {pagingList = this.Model})
</nav>

@section scripts
{
    <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
      
    <script type="text/javascript">
        $(document).ready(()=>{
            $("#SortOrderDropDown").val(@Json.Serialize(Model.RouteValue["SortOrder"]));
        });     
    </script>
}